.logo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

body {
  background-color: lightgrey; }

.logo {
  background-color: lightgrey; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1em; }

#imagenLogo {
  width: 40%; }

@media (max-width: 700px) {
  #imagenLogo {
    width: 50%; } }

.logo {
  text-align: center; }

header {
  margin-top: 2.5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

#carr {
  margin: auto;
  margin-top: 0%;
  border-radius: 2rem; }
  #carr img {
    border-radius: 2rem; }

.hambur ul {
  list-style: none; }
  .hambur ul a {
    color: white;
    text-decoration: none; }
    .hambur ul a li:hover {
      color: white;
      background-color: brown;
      width: 20%; }

/*CARRUSEL*/
.hover14 figure {
  position: relative; }

.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg); }

.hover14 figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@keyframes shine {
  100% {
    left: 125%; } }

/*REGIONES*/
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 2% 25% 1% 25%;
  border-radius: 25em; }

.pP {
  margin-top: 2rem;
  background-image: linear-gradient(to left, lightblue, white); }

/*CIUDAD AUTONOMA*/
.Noticias {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  font-family: "Raleway", sans-serif; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2); }

.card:hover {
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2); }

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 300px;
  margin: 0; }

.cont {
  padding: 2px 16px;
  margin: 0; }
  .cont p {
    margin: 0 0 3% 0; }
    .cont p h2 {
      margin: 3% 0; }

/*MUSEO*/
.museoTitle {
  text-align: center;
  margin-bottom: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.musImg {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.muss {
  margin-bottom: 1em; }
  .muss p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

/*CONTACTO*/
@keyframes un_efecto {
  0% {
    width: 25%; }
  100% {
    width: 20%; } }

.contacto img {
  width: 20%;
  align-items: center;
  margin-left: 40%;
  animation-name: un_efecto;
  animation-iteration-count: none;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s; }

.tituloCont {
  text-align: center;
  margin-bottom: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

/*FOOTER*/
.abajo {
  margin-top: 1rem;
  background-image: linear-gradient(to right, brown, white); }
  .abajo ul {
    width: 100%;
    list-style: none;
    text-align: center; }
    .abajo ul a {
      color: white;
      text-decoration: none; }
      .abajo ul a li:hover {
        color: brown; }
