
$tipografia: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

$tipografyciudad: 'Raleway', sans-serif;


$mylineal: linear-gradient(to right, brown, white);

$alinearcentro: center;

$tipografiainferior: 'Balsamiq Sans', cursive;

$headercolor: linear-gradient( to right, #A67A60, #593123);

